/* **********BODY SECTION********** */
body{
    background-color: #fff3f3;
}





/* *************** HEADER SECTION STARTS FROM HERE **************  */
.header{
    height: 13vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/img/bg-1.jpg);
    background-position: center;
    position: fixed;
    top:0;
    background-size: cover;
    display: block;
    z-index: 300;
   }


/* *************** CAMPUS SECTION STARTS FROM HERE ************** */
   
.campus{
    text-align: center;
    width: 80%;
    margin: 75px auto 0;
    padding:75px 0 100px;
    height:100vh;
    margin-bottom:50px;
 }
 
.campusRow{
    display: flex;
    width:100%;
    justify-content: space-between;
    margin:50px 0;
 }
 
.campusCol{
    width:30%;
    overflow: hidden;
    height: 400px;
    border-radius: 10px;
    position: relative;   
 }
 
.campusCol img{
    width: 100%;
    height:100%;
 }
 
.layer{
    background:transparent;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    transition: 0.5s;
 }
 
.layer:hover{
    background:rgba(226,0,0,0.5);
 }
 
.layer h3{
    position:absolute;
    bottom:15px;
    left: 100px;
    color:white;
    opacity:0;
    transition:0.5s;
 }
 
.layer:hover h3{
    bottom:50%;
    opacity:1;
 }
 


 /* **********FOOTER SECTION STARTS HERE********** */

.footer{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/img/bg-1.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
  }