 /* *************** HEADER SECTION STARTS FROM HERE **************  */
 .header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/img/bg-1.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
    display: block;
   }
   
   .collegeHeading{
      display: block;
      height:90%;
      width: 100%;
      margin:auto;
      text-align: center;
      justify-content: center;
      align-items: center;
      color:white;
      line-height: 1.5;
      padding-top: 10%;
   }
   
   .collegeHeading h1{
      font-size: 2.5rem;
      
   }
   
   .collegeHeading p{
      font-size: 1.3rem;
      margin:10px 0 40px;
   }
   
   .headingBtn{
      border:1px solid #fff;
      color: #fff;
      text-decoration: none;
      padding:12px 34px;
      cursor: pointer;
      font-size: 1.3rem;
   }
   
   .headingBtn:hover{
      border:1px solid #f44336;
      background: #f44336;
      transition: 0.5s;
      color:white;
   }
   
   
   /* *************** TESTIMONIAL SECTION STARTS FROM HERE ************** */
   .testimonial{
      margin:50px 100px;
      text-align: center;
   }
   .testimonialRow{
      display: flex;
      justify-content: space-evenly;
      padding:20px;
   }
   
   .testimonialCol{
      display: flex;
      flex-basis: 44%;
      text-align: left;
      padding:20px;
      background-color: #fff3f3;
      cursor: pointer;
      border-radius: 10px;
   }
   
   .testimonialCol img{
      width:75px;
      height:75px;
      border-radius: 100%;
      align-self: center;
      margin:0 15px;
   }
   
   .testimonialCol>div> .fa{
      color:#f44336;
      margin:5px 0;
   }
   
   
   /* *************** FOOTER SECTION STARTS FROM HERE ************** */

   .footer{
      background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/img/bg-1.jpg);
      background-position: center;
      position: relative;
       background-size: cover;
   }
   
