*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}


/* *************** HEADER SECTION STARTS FROM HERE **************  */
.nav{
    display: flex;
    padding: 20px 50px 0;
    justify-content: space-between;
    align-items: center;
}

.nav img{
    width:150px;
}

.navLinks ul{
    display: flex;
    list-style: none;
}

.navLinks ul li{
    padding:12px 25px;
}

.navLinks ul li a{
    text-decoration: none;
    color:white;
    font-size: 1.4rem;
}

.navLinks ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.navLinks ul li:hover::after{
    width:100%
}


/* *************** FOOTER SECTION STARTS FROM HERE **************  */
.footer{
    padding-bottom: 50px;
}
.footRow{
    display: flex;
    width:100%;
    justify-content: space-evenly;
    padding:25px 100px;
    color:white;
    line-height: 1.5;
    flex-direction: row;
}

.footCol h4{
    margin:10px 0;
}

.footCol p{
    line-height: 2.0;
}

.footCol ul{
    list-style: none;
}
.footCol ul a{
    color:white;
    text-decoration: none;
    line-height: 2.5;
}

.footCol ul a:hover{
    color:#f44336;
}


.icons{
    margin-top: 10px;
}
.icons li{
    font-size: 2rem;
}

.fa-brands:hover{
    color:#f44336;
    cursor: pointer;
}

.copy{
    color:#fff;
    text-align: center;
}


/* **********BUTTON SECTION STARTS HERE********** */
.btn{
    padding:10px;
    text-decoration: none;
    border:1px solid black;
    background-color: transparent;
    color:black;
}
